<!DOCTYPE html>
<!--
  flatironinstitute.org
  -->
<html>
  <head>
    <!-- TODO: Add your name -->
    <title>Home: Robust 3D Nuclear Instance Segmentation of the Early Mouse Embryo</title>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, user-scalable=no"
    />
    <!-- TODO: If you wish to use your center color scheme, please replace main.css with the center acronymn ex:
      cca.css, ccb.css, etc
    -->
    <link rel="stylesheet" href="assets/css/main.css" />
  </head>
  <body class="is-preload">
    <!-- Header -->
    <header id="header">
      <div class="inner">
        <!-- TODO: Add a personal photo in /images folder or switch src link to avatar.jpg for a gray circle -->
        <a href="#" class="image avatar"
          ><img src="./movies/fucci_SOX_stack1.gif" width="300px"/></a>
      </div>
      <nav id="nav">
        <ul>
          <li>
            <a
              href="index1.html"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              >BlastoSPIM Home</a
            >
          </li>
          <li>
            <a
              href="./series.html"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              >Data</a
            >
          </li>
          <li>
            <a
              href="./model.html"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              >Models</a
            >
          </li>
          <li>
            <a
              href="./vis.html"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              >Visualizations</a
            >
          </li>
          <li>
            <a
              href="#contact"
              style="-webkit-tap-highlight-color: rgba(0, 0, 0, 0)"
              >Contact</a
            >
          </li>
        </ul>
      </nav>
    </header>
    <!-- Main -->
    <div id="main">
      <!-- About -->
      <section id="about">

        <h1 style="margin:10px; text-align: center;">
          Robust 3D Nuclear Instance Segmentation of the Early Mouse Embryo
        </h1>
        <p>
          We introduce new ground truth datasets of 3D nuclear instance segmentation 
          in pre-implantation mouse embryos as well as models trained on those datasets. 
          One ground truth dataset (BlastoSPIM 1.0) is primarily composed of embryos from 
          the 8-nuclei stage to the 64-nuclei stage. The other ground truth dataset 
          (BlastoSPIM 2.0) is primarily composed of embryos from the 64-nuclei stage 
          to the >100-nuclei stage. BlastoSPIM 1.0 and 2.0 are two of the largest and 
          most complete datasets of their kind with 573 and 80 annotated light-sheet 
          images, respectively. Each image has an xy-resolution of 0.208 micron and a 
          z-resolution of 2.0 microns. For each of the 18336 nuclei 
          across the two datasets, the ground-truth instance is 
          defined by drawing a contour in each z-slice in which the nucleus appears.
      </p>

      <p>
        Using this dataset, we have trained two deep-learning models to perform accurate 3D nuclear instance 
        segmentation. With these models, we have begun several quantitative investigations into pre-implantation 
        development, including the dynamics of fate specification, 
        nuclear volume oscillations, and nuclear shape deformations. 
      </p>

      <p>
          Significant progress has been made in providing a means to segment 
          nuclei in 2D [Cellpose 2.0] but there are very few biological datasets 
          with complete ground truth instance segmentation of nuclei in 3D. This 
          dataset can be used to help enable transfer learning 
          for other applications via pre-training, fine-tuning, simulating, augmenting, evaluating etc.
      </p>

      <p>
          <a href="series.html" style="color:blue">Preview and download data.</a>
      </p>

      </section>
      <!-- Research -->
      <section id="research">
        <!-- TODO: Replace with project info and choose image type -->
        <div class="row">

          <!-- ground truth -->
          <article class="col-6 col-12-xsmall work-item">
            <h3>Ground truth</h3>
            <p>
              This animation shows ground truth segmentation of nuclei in a late blastocyst embryo.
              The segmentation was determined by trained biologists using manual annotation.
            </p>

            <p>
              Click the image for a detailed view.
            </p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="./movies/GT.gif" class="image fit thumb">
              <!-- TODOL Add alt text for popup caption. -->
              <img src="./movies/GT.gif" alt="Ground truth segmentation of nuclei in late blastocyst embryo."/>
            </a>
          </article>
          
          <!-- Automatic segmentation -->
          <article class="col-6 col-12-xsmall work-item">
            <h3>Automatic segmentation</h3>
            <p>
              This animation shows automatically derived segmentation of nuclei in a late blastocyst embryo.
              This segmentation was derived using machine learning and computer vision methods.
            </p>
            <p>
              Click the image for a detailed view.
            </p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="./movies/Sys.gif" class="image fit thumb">
              <!-- TODOL Add alt text for popup caption. -->
              <img src="./movies/Sys.gif" alt="Automatic segmentation segmentation of nuclei in late blastocyst embryo."/>
            </a>
          </article>
          
          <!-- Source data -->
          <article class="col-6 col-12-xsmall work-item">
            <h3>Microscopy source data</h3>
            <p>
              This animation shows a time-lapse sequence of max-projected 3D image volumes of nuclei in an early mouse embryo. 
              With a light-sheet microscope, a 3D image was acquired every 15 minutes, 
              and the total movie duration is 29 hours and 45 minutes of development.
            </p>
            <p>
              Click the image for a detailed view.
            </p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="./movies/fucci_SOX_stack1.gif" class="image fit thumb">
              <!-- TODOL Add alt text for popup caption. -->
              <img src="./movies/fucci_SOX_stack1.gif" alt="Time lapse sequence of the nuclei in the early mouse embryo"/>
            </a>
          </article>

          <!-- model charts -->
          <article class="col-6 col-12-xsmall work-item">
            <h3>Model performance</h3>
            <p>
              Number of nuclei over time for 4 embryo sequences as inferred by the early embryo model (left) and late 
              blastocyst model (right). Dashed horizontal lines: 16, 32, 64, 100 nuclei respectively. Note that the 
              early model's estimates of nuclear count lose accuracy at around 64 nuclei, whereas the late model's estimates are 
              able to accurately count nuclei up to the >100 nuclei stage.
            </p>
            <p>
              Click the image for a detailed view.
            </p>
          </article>
          <article class="col-6 col-12-xsmall work-item">
            <a href="number_of_nuclei.png" class="image fit thumb">
              <!-- TODOL Add alt text for popup caption. -->
              <img src="number_of_nuclei.png" alt="Model performance charts."/>
            </a>
          </article>

        </section>
        <section>
          <article class="col-12 col-12-xsmall work-item">
            <h2>Paper</h2>
            <h2><em>
              "A novel ground truth dataset enables robust 3D nuclear instance segmentation in early mouse embryos"
              </em></h2>
            
        <h5><a href="https://www.biorxiv.org/content/10.1101/2023.03.14.532646v1">
          https://www.biorxiv.org/content/10.1101/2023.03.14.532646v1
        </a></h5>
        <h4>
          Hayden Nunley<sup>1</sup>, 
          Binglun Shao<sup>1,2</sup>, 
          Prateek Grover<sup>1</sup>, 
          Jaspreet Singh<sup>1</sup>, 
          Bradley Joyce<sup>3</sup>, 
          Rebecca Kim-Yip<sup>3</sup>, 
          Abraham Kohrman<sup>3</sup>, 
          Aaron Watters<sup>1</sup>, 
          Zsombor Gal,<sup>3</sup>, 
          Alison Kickuth<sup>3</sup>, 
          Madeleine Chalifoux<sup>2,3</sup>, 
          Stanislav Shvartsman<sup>1,2,3,4</sup>,  
          Eszter Posfai<sup>3</sup>, 
          Lisa M. Brown<sup>1</sup>
        </h4>
          
          <p><small>
          <b>1</b> Center for Computational Biology, Flatiron Institute - Simons Foundation, New York, United States of America<br/>
          <b>2</b> Department of Chemical and Biological Engineering, Princeton University, Princeton, New Jersey, United States of America<br/>
          <b>3</b> Department of Molecular Biology, Princeton University, Princeton, New Jersey, United States of America<br/>
          <b>4</b> The Lewis-Sigler Institute for Integrative Genomics, Princeton University, Princeton, New Jersey, United States of America<br/>
          </small></p>
          </article>
          
      </section>
      <!-- Contact -->
      <section id="contact">
        <h2>Contact</h2>
        <div class="row">
          <div class="col-6 col-12-small">
            <ul class="labeled-icons">
              <li>
                <h3 class="icon solid fa-home">
                  <span class="label">Address</span>
                </h3>
                <a href="http://flatironinstitute.org">Flatiron Institute</a
                ><br />
                162 Fifth Avenue<br />
                New York, NY 10010<br />
                United States
              </li>
              <li>
                <h3 class="icon solid fa-envelope">
                  <span class="label">Email</span>
                </h3>
                <!-- TODO: Add email -->
                eposfai at princeton.edu  <br/>
                lbrown at flatironinstitute.org <br/>
                hnunley at flatironinstitute.org <br/>
              </li>
            </ul>
            <ul class="icons">
              <!-- TODO: Add your social media handles here -->
              <!-- Other icons are available here: https://fontawesome.com/v4.7/icons/ just change the fa-tag -->
              <li>
                <a href="#" class="icon brands fa-twitter"
                  ><span class="label">Twitter</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-github"
                  ><span class="label">Github</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-instagram"
                  ><span class="label">Instagram</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-facebook"
                  ><span class="label">Facebook</span></a
                >
              </li>
              <li>
                <a href="#" class="icon brands fa-vimeo"
                  ><span class="label">Vimeo</span></a
                >
              </li>
            </ul>
          </div>
        </div>
      </section>
    </div>
    <!-- Footer -->
    <footer id="footer">
      <div class="inner">
        <a
          href="https://www.simonsfoundation.org/flatiron/"
          target="_blank"
          id="logo"
          rel="noreferrer noopener"
        >
          <img src="images/logo.png" width="320" alt="logo" id="logo-icon" />
        </a>
      </div>
    </footer>
    <!-- Scripts -->
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/js/jquery.poptrox.min.js"></script>
    <script src="assets/js/jquery.scrollex.min.js"></script>
    <script src="assets/js/jquery.scrolly.min.js"></script>
    <script src="assets/js/browser.min.js"></script>
    <script src="assets/js/breakpoints.min.js"></script>
    <script src="assets/js/util.js"></script>
    <script src="assets/js/main.js"></script>
    <!-- TODO: Remove if not using Mathjax -->
    <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
    <script
      id="MathJax-script"
      async
      src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"
    ></script>
  </body>
</html>
