<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Robust 3D Nuclear Instance Segmentation of the Early Mouse Embryo</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/jquery-ui.css" />  
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
  </head>

  <body>
    <p class="info-text" id="info">BlastoSPIM web site main entry page.</p>

    <ul id="menu">
        <li><div>Menu</div>
            <ul>
                <li><div>
                    <a href="./main.html">Home</a>
                </div></li>
                <li><div>
                    <a href="./series.html">Dataset</a>
                </div></li>
                <li><div>
                    <a href="./main.html">Model</a>
                </div></li>
                <li><div>
                    <a href="./main.html">Visualizations</a>
                </div></li>
            </ul>
        </li>
    </ul>

    <script>
        $( function() {
          $( "#menu" ).menu();
        } );
    </script>
    <style>
        .ui-menu { width: 200px; }
    </style>

    <table style="border-collapse: separate; border-spacing: 5px 5px;">
        <tr>
            <td>
                <img src="./movies/GT.gif"/>
            </td>
            <td>
                <img src="./movies/Sys.gif"/>
            </td>
        </tr>
        <tr>
            <th>Ground truth segmentation of nuclei in late blastocyst embryo.</th>
            <th>System segmentation of nuclei in same late blastocyst embryo.</th>
        </tr>
    </table>

    <h1 style="margin:10px; text-align: center;">
        Robust 3D Nuclear Instance Segmentation of the Early Mouse Embryo
    </h1>
    

    <div id="prologue">

        <p>
            We introduce a new dataset and model of pre-implantation mouse embryos with 
            complete 3D instance segmentation of nuclei. This is one of the largest and 
            most complete datasets of its kind with over 570 high resolution images from 
            a light sheet microscope. Each image has a resolution of roughly 64x512x512 and 
            every nucleus in each image is fully annotated in 3D by a series of contours in each slice.
        </p>

        <p>
            Using this dataset, we have built a model to accurately perform 3D instance segmentation 
            and begun several investigations into the quantitative analysis of embryogenesis including 
            fate specification, nuclear volume and shape variations, and embryo viability. This model 
            is also the first step in lineage construction and opens 
            the potential for a more direct exploration into early development.
        </p>

        <p>
            Significant progress has been made in providing a means to segment 
            nuclei in 2D [Cellpose 2.0] but there are very few biological datasets 
            with complete ground truth instance segmentation of nuclei in 3D. This 
            dataset can be used to help enable transfer learning 
            for other applications via pre-training, fine-tuning, simulating, augmenting, evaluating etc.
        </p>

        <p>
            <a href="series.html" style="color:blue">Preview and download data.</a>
        </p>


    </div>

    <h3 class="main_animation_header">Microscopy source data</h3>

    <div class="main_animation">
        <img src="./movies/fucci_SOX_stack1.gif"/>
    </div>

    <div class="main_animation_explanation"><p>
        <em>Time lapse sequence of the nuclei in the early mouse embryo as acquired using a light-sheet microscope every 15 minutes,
            shown in maximum intensity projection.</em>
    </p></div>

</body>
</html>