<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Blastospim data download</title>
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" />
    <link rel="stylesheet" href="./css/normalize.css" />
    <link rel="stylesheet" href="./css/base.css" />
    <link rel="stylesheet" href="./css/jquery-ui.css" />
    <script src="./js/jquery.min.js"></script>
    <script src="./js/jquery-ui.js"></script>
  </head>

  <body>
    <p class="info-text" id="info">Blastospim data download.</p>

    <ul id="menu">
        <li><div>Menu</div>
            <ul>
                <li><div>
                    <a href="./main.html">Home</a>
                </div></li>
                <li><div>
                    <a href="./series.html">Dataset</a>
                </div></li>
                <li><div>
                    <a href="./model.html">Model</a>
                </div></li>
                <li><div>
                    <a href="./vis.html">Visualizations</a>
                </div></li>
            </ul>
        </li>
    </ul>

    <script>
        $( function() {
          $( "#menu" ).menu();
        } );
    </script>
    <style>
        .ui-menu { width: 200px; }
    </style>


    <p>
        <a href="./main.html">Return to BlastoSPIM main page.</a>
    </p>

    <h1 style="margin:10px; text-align: center;">Preview and Download BlastoSPIM Data Sets</h1>
    
    <p>
        The BlastoSPIM dataset includes 573 fully annotated 3D images 
        of nuclei in mouse embryos, each manually curated for annotation. 
        Across all images, there are 11708 individual nuclear instances annotated and 116 
        annotated polar bodies. Not all of these 3D images come from different time series. 
        For example, for one developing mouse embryo, we annotated 89 consecutive time-points, 
        and for another embryo, we annotated 100 consecutive time-points. Both of these 
        time-lapse annotations extend from the 16-cell stage to the approximately 64-cell stage. 
        The total number of distinct embryos imaged and annotated is 31.
    </p>
<!--
    <p>
        <a id="download_model" style="color:blue">Download XYZW model.</a>
    </p>
-->

    <h1>Series</h1>

    <p>
        This panel displays the series in the data set
        with images from an example timestamp.
    </p>

    <p>
        Click the series button to display all timestamps for the series.
    </p>

    <div class="series_select" id="series_select"></div>

    <h1 id="series_header">Timestamps in Series</h1>

    <p>
        This panel displays the timestamps for the selected series.
    </p>

    <p>
        Click on the timestamp button to view the timestamp in detail.
    </p>

    <div class="series_detail" id="series_detail"></div>

    <h1 id="timestamp_header">Timestamp detail</h1>

    <p>
        This panel displays details for the selected timestamp.
        Maximal value projections appear on the left and extruded
        label segmentation appears on the right.
    </p>

    <p>
        Adjust the slider to adjust the maximum vertical layer for 
        the images.
    </p>

    <div class="timestamp_detail" id="timestamp_detail"></div>


  <script src="./js/jquery.min.js"></script>
  <script src="./js/jquery-ui.js"></script>
  <script src="./js/canvas_2d_widget_helper.js"></script>
  <script src="./js/dual_canvas_helper.js"></script>
  <script src="./js/nd_frame.js"></script>
  <script src="./js/layers3d.js"></script>
  <script src="./series.js"></script>
  <script>
    setup();
  </script>
</body>
</html>